##  BEGIN from https://stackoverflow.com/a/31922293/194309
##  (Also from https://odan.github.io/2019/11/05/slim4-tutorial.html)
RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
## END from https://stackoverflow.com/a/31922293/194309
